html, body {
    background-color: #1d3649;
    height: 80%;
}

#toolBar {
    background-color: #1d3649;
}

.card {
    background-color: white;
    width: 25%;
    margin-left: 35%;
    margin-top: 10%;
    color: #3E668D;
}

#header {
    background-color: red;
}